.sm-col-span-12 {
	padding: 0;
}

.qs-wr {
	margin-bottom: 20px;
}

.qs-wr h3 {
	margin: 10px 0 20px 0;
	color: #2f3542;
	font-weight: 300;
}

#form-test {
	margin-top: 0px;
}

.content-wr-qs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	font-size: 14px;
}


.test-content {
	width: 75%;
	box-sizing: border-box;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}

.total-question {
	width: 25%;
	box-sizing: border-box;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
}

.test-content, .total-question {
	padding: 15px 10px;
	box-sizing: border-box;
} 
.test-content {
	padding-left: 50px;
}

.total-question  {
 	padding-right: 50px;
 }


/*number of question left*/
.test-title {
	
}

.test-title h3 {
	font-size: 20px;
}

.test-content-question {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
}


.c-question-number {
	display: block;
	width: 80px;
	height: 70px ;
	margin-right: 10px;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 13px;
	border: 1px dotted #dfe4ea;
	color: #57606f;
	text-align: center;
}

.c-question-number span {
	font-weight: 300;
	font-size: 16px;
	margin-left: 5px;
}

/*question and answer right*/
.c-question-content ul li {
	float: none;
	padding: 5px 0;
	line-height: 1.25;
	font-size: 13px;
}

.c-question-content ul li input[type="radio"]{
	margin-right: 10px;
}

.c-question-content {
	padding: 10px 15px 0 15px;
	width: calc(100% - 140px);
	border-radius: 3px;
	border: 1px solid #50b4f2;
	box-sizing: border-box;
}


.answer {
	padding: 10px 0;
}

.content {
	max-width: 60em;
}

.nextQuestion {
	display: inline-block;
	color: #3867d6;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
	text-align: right;
	padding-right: 28px;
	box-sizing: border-box;
}

.nextQuestion:hover {
	text-decoration: underline;
}

/*button submit*/
.btn-login {
	display: inline-block;
	width: 100%;
}

.btn-login button {
	background-color: #0984e3;
	width: 15%;
	display: block;
	margin: 0 auto;
}

.btn-login button:hover {
	background-color: #74b9ff;
}

/*list number of question and timeout*/
.time-test {
	text-align: center;
	font-weight: 300;
	font-size: 15px;
	background-color: #dfe6e9;
	padding: 5px 0;
}

.time-test span{
	color: #e00;
	padding-left: 10px;
}

.list-q {
	padding: 15px;
}

.list-q ul li {
	padding: 5px 7px;
	border: 1px solid #4b7bec;
	box-sizing: border-box;
	margin-right: 5px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.list-q ul li:hover {
	background-color: #3867d6;
	cursor: pointer;
}

.list-q ul li:hover a {
	color: #fff;
}

.btn-group a {
	float: right;
	text-decoration: none;
	color: #6E1FFF;
}

.typeQuestion {
	display: inline-block;
	width: 100%;
	font-weight: 700;
	margin-bottom: 10px;
}

/********************************/
.wr-para {
	padding-right: 4em;
	text-align: justify;
	padding-bottom: 1em;
	padding-left: 2em;
}

.wr-para .number {
	font-weight: 700;
	font-size: 14px;
}

.wr-para .content {
	margin-bottom: 30px;
}

.wr-para .c-question-content {
	border: 0;
	border-radius: 0;
	border-bottom: 1px dotted #b2bec3;
	width: 100%;
}
.wr-para .answer {
	padding-left: 5px;
}

.paragraph {
	background-color: #ecf0f1;
	padding: 5px;
}

.wr-para .btn-login {
	padding-left: 1em;
}

#ex2 {
	width: 300px;
	border-radius: 0;
	padding: 20px;
}

.out-submit {
	text-decoration: none;
	color: #4b7bec;
	cursor: pointer;
}

.out-submit:hover {
	text-decoration: underline;
}

.audio-content {
	width: 50%;
	height: 25px;
	border-radius: 3px;
}

@media screen and (max-width: 991px) {
	.content-wr-qs {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		box-shadow: 0 4px 8px rgb(0,0,0,.4);
		background-color: #fff;
	}

	.test-content {
		width: 100%;
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		margin-bottom: 50px
	}

	.total-question {
		width: 100%;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		display: inline-block;
	}

	.test-content, .total-question {
		padding: 15px;
	}	 

	.test-wr {
		padding: 10px;
	}
	

	.list-q ul li {
		padding: 5px;
	}

	.list-q ul {
		display: none;
	}

	.btn-login {
		/*text-align: center;*/
		padding-left: 14vw;
	}

}


@media screen and (max-width: 767px){

	.btn-login {
		padding-left: 0;
	}

	.btn-login button {
		/*margin-left: 0 !important;*/
		width: 7em;
		margin: 0 auto;
	}

	.test-content-question {
		display: block;
	}

	.c-question-number {
		width: auto;
		height: auto;
		margin-right: 0;
		padding: 5px;
		border: none;
		text-align: left;
		font-weight: 700;
	}

	.c-question-content {
		width: 100%;
	}
}

/*-----------------page course test info-------------------*/
.content-wr-intro {
	margin: 5em 0;
	text-align: center;
	background-color: #fff;
}

.content-wr-intro h3 {
	font-size: 24px;
	text-transform: uppercase;
	color: #000;
}

.test-info table {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.table {
	border-collapse: collapse;
	width: 40%;
	text-align: left;
	margin: 20px 0;
	border: 1px solid #eee;
	background-color: #f1f2f6;
}

.ts-info-title {
	text-align: center;
	font-weight: 300;
	color: grey;
	font-size: 18px;
}

.table tr {
	padding: 5px;
}

.table tr td{
	border: 1px solid #eee;
	box-sizing: border-box;
	padding: 5px 10px;
	font-size: 14px;
	border: 0;
	text-align: center;
	color: #130f40;
}

/*btn start*/
.start-test {
	padding: 0 20px;
}

.start-test a {
	padding: 10px 20px;
	background-color: #2393E9;
	border: none;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	margin-top: 12px;
	display: inline-block;
}

.start-test a:hover {
	background-color: #3742fa;
}

@media screen and (max-width: 991px) {
	.table {
		width: 60%;

	}
}


@media screen  and (max-width: 767px){
	.content-wr-intro h3  {
		font-size: 24px;
	}
}


@media screen and (max-width: 480px) {
	.table {
		width: 90%;

	}

}

/*result page*/
.correctAs {
	background-color: #dff9fb;
}

.failAs {
	background-color: #ea8685;
}

.correctAnswer {
	color: #6ab04c;
}