.container {
	height: 100%;
	margin: 0 auto;
}

.course-introduct {
	min-height: 20em;
	background-color: #343a40;
}


.wr-left {
	float: left;
	width: 55%;
	padding-left: 10%;
}

.wr-right {
	float: right;
	width: 25%;
	padding-right: 10%;
}


.img-course {
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
}

.img-course img {
	height: 300px;
	background-position: center;
	background-size: cover;
	object-fit: cover;
}

.img-course a {
	color: #2980b9;
	text-decoration: none;
	text-transform: capitalize;
}

.course-content-wr {
	padding: 10px;
	padding-top: 2em;
	color: #f1f1f1;
}
.course-t {
	text-align: left;
}

#form-payment {
	margin-top: 10px;
	margin-bottom: 20px;
	min-height: 0 !important;
}

#form-payment button {
	background-color: transparent;
	border: 0;
	color: #fff;
	font-weight: 700;
	height: 27px;
	cursor: pointer;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}

.course-hp {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 5px;
}


.course-buy {
	border-radius: 2px;
	box-sizing: border-box;
	margin: 10px;
	width: calc(100% - 20px);
	text-align: center;
}

.course-buy a {
	font-weight: 700;
}

.sale, .coup {
	padding: 0 10%;
	text-transform: capitalize;
	display: block;
}

.sale .notify-error {
	padding-left: 90px;
	margin: 10px 0;
}

.sale form input {
	width: 10em;
	border: 1px solid #718093 !important;
	padding: 3px;
	border-radius: 2px;
}

.sale form {
	width: 63%;
	padding: 2em 1em;
	border: 1px solid #dcdde1;
	min-height: 0 !important;
	margin: 20px 10px;
	border-radius: 5px;
	display: block;
}

.coup p  {
	padding-left: 1em;
	padding-top: 2em;
	color: #c23616;
}

.form-group-1 label {
	padding-right: 5px;
}

.btn-group-1 {
	margin-top: 10px;
	margin-left: 6.3em;
}

.btn-group-1 button {
	width: 5em;
	padding: 3px;
	border-radius: 3px;
	border: 0;
	background-color: #0c2461;
	color: #fff;
	cursor: pointer;
}

.btn-group-1 button:hover {
	background-color: #1e3799;
}

#sale, #total {
	margin-left: 10px;
	margin-right: 10px;
	color: #222f3e;
}

#total {
	font-size: 18px;
	font-weight: 700;
	border-top: 1px solid #c8d6e5;
	padding: 10px 0;

}

#total span, #price, #sale span {
	float: right;
}

#total span::after, .course-hp span::after {
	content: 'đồng';
	font-size: 13px;
	font-weight: 300;
	margin-left: 8px;
}

#sale span {
	color: #c0392b;
}

.alert {
	margin: 1em 0 0 0.9em;
	width: 65.6%;
}

#ex4 {
	width: 300px;
	border-radius: 0;
	padding: 20px;
}

.info-sale {
	padding: 10px;
	line-height: 1.5;
	margin-bottom: 4em;
}

.info-sale h3 {
	margin-bottom: 1.5em;
	font-size: 20px;
}

.info-sale span {
	font-style: italic;
	font-size: 13px;
	text-transform: capitalize;
}

table tr {
	width: 20%;
}

.tr-h img {
	width: 1.4em;
	margin-right: 5px;
}

table tr td {
	padding: 3px 0px 10px;
}

.tr-h {
	text-align: left;
	padding-right: 10px;
}


.pay {
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	margin-top: 10px;
	background-color: #fff;
}

@media screen and (max-width: 991px){

	.container {
		
	}

	.wr-left, .wr-right {
		width: 90%;
		padding: 0 5%;
	}

	.course-introduct {
		min-height: 45em;
	}

	.course-content-wr {
		padding: 0.5em;
	}

	.wr-right {
		margin-bottom: 1em;
	}

	.coup, .sale {
		padding: 0 5%;
	}

	.sale form {
		width: 100%;
		margin: 10px 0;
		padding: 1em 0.5em;
		box-sizing: border-box;
	}

	.sale .alert-error, .sale .alert-success {
		margin: 1em 0;
		width: 100%;
	}

	.sale-row-2 {
		margin: 3em 0;
	}


}

@media screen and (max-width: 767px){


}