.comments-history {
	width: 90%;
}

/*--------------------course-content-left--------------------------*/
.wr {
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
}

.content-wr {
	display: block;
	width: 30%;
}

.content-left {
	margin-bottom: 50px;
	padding: 10px;
	box-sizing: border-box;
	width: 70%;
}


.course-name {
	margin: 15px;
}

.course-name h3 {
	color: #636e72;
}

.course-name a {
	padding-left: 5px;
	color: #0275d8;
	font-size: 12px;
	font-weight: 300;	
	text-decoration: none;
	/*text-transform: uppercase;*/
}

.course-name a:hover {
	color: #01447e;
	text-decoration: underline;
}

/*----------------video----------*/
.video-wr {
	background-color: rgb(0,0,0,.8);
}

.video-content {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	display: block;
}

video {
	padding: 2px;
	background-color: #000;
}


/*------------document----------*/
.document {
	margin-top: 30px;
}

.document-links {
	margin-left: 15px; 
}

/*------------Q&A--------------*/
.comments {
	margin: 15px;
}

/*--------------course-buy---------------------*/

.course-register {
	box-shadow: 0px 4px 8px rgb(0,0,0,0.19);
	margin-top: 20px;
	padding: 10px;
	background-color:  #01447e;
	opacity: .9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	border-radius: 5px;
}

.course-t {
	text-align: center;
	color: #fff;
}


.course-hp {
	margin-bottom: 15px;
}

.course-hp span{
	font-size: 20px;
}

.course-buy {
	padding: 5px;
	background-color: #c00;
	border-radius: 20px;
	width: 10vw;
	margin: 0 auto;
	cursor: pointer;
	font-size: 110%;

}

.course-buy a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.course-buy:hover {
	background-color: #EB3333;

}



/*----------course content lession--------------*/

.course-struct {
	font-size: 14px;
	max-width: 100%;
}

.course-st-row {
	margin-bottom: 5px;
	/*border-bottom: 1px solid #f1f1f1;*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 5px 0;
}

.course-st-head {
	border-bottom: 1px solid #01447e;
	margin-bottom: 15px;
}

.course-st-title{
	background-color: #01447e;
	padding: 2px 15px;
	width: 20%;
	color: #fff;
	border-top-right-radius: 10px;
}


.st-less {
	width: 12%;
	margin-right: 5px;
}

.st-name {
	width: calc(68% - 5px);
}

.st-cr-study, .st-cr-test {
	width: 20%;
	text-align: center;
	box-sizing: border-box;
}

.st-cr-study a, .st-cr-test a{
	font-size: 12px;
	text-decoration: none;
	color: #4D4949;
	letter-spacing: 0.375px;
}


.watch:hover a {
	color: #00b894;
}

.watch {
	line-height: 24px;
	margin: 0 auto;
}

.watch a, .test a {
	color: #0984e3;
	box-sizing: border-box;
}

/*---------------------course history--------------------------*/
.course-history {
	border: 1px solid #a5b1c2;
	margin: 20px 0;
	padding: 10px;
	border-radius: 5px;
	font-size: 14px;
}

.course-his-head {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
}

.course-his-head img {
	width: 15px;
}

.his-b-total {
	margin-top: 15px;
}

.progressbar {
	width: 100%;
	background-color: #dfe6e9;
	border-radius: 5px;
}

#lessonbar, #testbar{
	height: 5px;
	background-color: #0984e3;
}

#lessonbar {
	width: 10%;
}

#testbar {
	width: 20%;
}


.register {
	margin: 10px 0;
}

@media screen and (max-width: 991px) {
	.course-buy {
		width: 55%;
	}

	.course-t, .course-history, .course-struct {
		font-size: 13px;
	}

	.st-name {
		padding-left: 5px;
	}

	.course-st-title{
		width: 30%;
	}

	.comments-history {	
		width: 100%;
	}
}


@media screen and (max-width: 768px) {
	.course-buy {
		width: 30%;
	}

	#form-c textarea {
		width: 100%;
	}

	.course-t, .course-history, .course-struct {
		font-size: 14px;
	}

	.st-name {
		padding-left: 0;
	}

	.wrapper {
		padding: 0;
	}

	.comments {
		margin: 5px;
	}

}

@media screen and (max-width: 767px) {

	.course-buy {
		width: 40%;
	}

	#form-c {
		min-height: 75px;
		margin-bottom: 15px;
	}

	.wr {
		flex-wrap: wrap;
	}
	.content-wr, .content-left {
		width: 100%;
	}

	.content-left {
		padding: 0;
	}

}